spring:
  application:
    name: mars-enterprise-kit-lite
  threads:
    virtual:
      enabled: true
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5432/orders_db
    username: mars
    password: mars
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: mars-lite
      minimum-idle: 2
      maximum-pool-size: 5
      connection-timeout: 5000
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: order-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      acks: all
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
server:
  port: 8082
management:
  endpoints:
    web:
      exposure:
        include: health
